extends layout
block title
	title e_classroom_teacher
block content
	.e_classroom
		.content-classroom
			.window.classroom-student 
				.header-window
					.class-name
						p ชื่อห้อง SOA KMITL 
							span  |
							a(href="") ออกจากคลาส
					.name-teacher
						span อาจารย์ผู้สอน :
						.name-active
							img.circle(src='/images/mamieo.jpg')
							.username Chaowanee Rungruchimek
							
					.time
						p อยู่ในระบบเป็นเวลา 20 นาที 20 วินาที
				.code
					textarea.editor(type='textarea' cols='130' rows='25')
					.terminal

				.footer-window
					input(type='button' class='form-control btn btn-success' value='Save & Submit')
					input(type='button' class='form-control btn btn-success' value='Reset code')
					.techer-window
						.window-teacher
						a ดูหน้าต่างผู้สอน
					.chat
						.textbox
							.type
								.input-group
									input(class="form-control" id="typing-box" placeholder="Message")
									.input-group-addon hide
						.content
							.header 
								p ห้องสนทนา SOA
							.chat-box
								.story
									each val, index in chat
										p
											span.name #{val.sender} :
											span #{val.message}
	!= renderJs()
	!= renderJs('chat')
	!= renderJs('socket')
