script(src="/term.js")
div.full-window
  div.code
    div#editor-student-view
    div#terminal(data-container-id="#{classroom.teacher.container_id}")

!= renderStyles('e_classroom')
!= renderJs()
!= renderJs('socket')
!= renderJs('student_view')
