extends layout
block title
	title e_classroom_teacher
block content
	.e_classroom
		.row.intro
			.col-md-3.topic ระบบ E-Classroom
			.col-md-6
				p ชื่อห้อง SOA KMITL
					span |
					a(href="") ยกเลิกคลาส
				p Key of this E-Classroom: #{key}
				p คลาสนี้จะสอนเกี่ยวกับ Service-oriented architecture
			.col-md-3.num_student จำนวนนักเรียนในห้อง : 6 คน
		.window
			.code
			//- .result
		.sidebar
			.teacher
				.docker.active
			.student
				.docker
				.docker
				.docker
				.docker
