html
  head
  body
    form(action='/e-classroom/create' method='post')
      h1 CREATE E-CLASSROOM
      |Langauge: 
      select(name='langauge')
        option python
        option node.js
      br
      |Number of students(between 1 and 50): 
      input(type="number" name="student_count" min="1" max="50")
      br
      input(type='submit')
