extends layout
block title
	title e_classroom_teacher
block content
	.e_classroom

		.content-classroom
			.window.classroom-teacher
				.header-window
					.name-active
						img.circle(src='/images/mamieo.jpg')
						.username Chaowanee Rungruchimek
				.code
					.terminal

				.footer-window
					input(type='button' class='form-control btn btn-success' value='Save & Submit')
					input(type='button' class='form-control btn btn-success' value='Reset code')
					.chat
						.textbox
							.type
								.input-group
									input(type="text" class="form-control" id="exampleInputAmount" placeholder="Message")
									.input-group-addon hide
						.content
							.header 
								p ห้องสนทนา SOA
							.long-content
								.story
								-for (var x = 1; x < 10; x++)
									p
										span.name Napat :
										span  ต้องกรอกข้อมูลก่อนเข้าห้องหรือเปล้าครับ
									p
										span.name Chaowanee :
										span  อ่าวกำ หนูไม่ได้กรอก TT
									p
										span.name Napat :
										span  ต้องกรอกข้อมูลก่อนเข้าห้องหรือเปล้าครับ
			.sidebar
				.topic
					p ระบบ E-Classroom	
				.intro
					p ชื่อห้อง SOA KMITL
						span  |
						a(href="") ยกเลิกคลาส
					p Key of this E-Classroom: #{key}

				.topic-sub
					p Your view
				.teacher
					.docker
						img(src="/images/sublime2.png")
						.name Napat Rungruchimek
						.clear

				.topic-sub
					p Student view
						span.num_student จำนวนนักเรียน 6 คน
				.student
					.docker
						img(src="/images/sublime2.png")
						.name 
							p Chaowanee Janthong
							p.type typing ...
						.clear
					.docker
						img(src="/images/sublime2.png")
						.name
							p Chaowanee Janthong
							p.type typing ... 
						.clear
					.docker
						img(src="/images/sublime2.png")
						.name
							p Chaowanee Janthong
							p.type typing ... 
						.clear
					.docker
						img(src="/images/sublime2.png")
						.name 
							p Chaowanee Janthong
							p.type typing ...
						.clear
					.docker
						img(src="/images/sublime2.png")
						.name
							p Chaowanee Janthong
							p.type typing ... 
						.clear
					.docker
						img(src="/images/sublime2.png")
						.name
							p Chaowanee Janthong
							p.type typing ... 
						.clear
				
				.footer-side
					a.see See all students
			.clear
