html
  head
  body
    form(action='/e-classroom/create' method='post')
      h1 CREATE E-CLASSROOM
      |Name: 
      input(id="raw_name" name="raw_name")
      br
      |Genarated Name
      input(id="name" disabled)
      br
      |Langauge: 
      select(name='langauge')
        option python
        option node.js
      br
      |Number of students(between 1 and 50): 
      input(type="number" name="max_student" min="1" max="50")
      br
      input(type="radio" name="aaa")
      |Use existing docker.
      select(name='bbb')
        option docker A
        option docker B
      br
      input(type="radio" name="aaa") 
      |Upload your Dockerfile 
      input(type="file")
      br
      br
      input(type='submit')
  != renderJs()
  != renderJs('e_classroom_create')