<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="static/css/style.css">	
		<script src="static/bootstrap/js/bootstrap.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body class="index">
		<header>
			<nav class="container">
				<ul class="logo">
					<li class="img-logo"><a href=""> < ! > Logo</a></li>
				</ul>
				<ul class="menu">
					<li><a href="path.html">Course</a></li>
					<li><a href="">Online Class</a></li>
					<li class="line"><a href="">Support</a></li>
					<li class="please">Please Login</li>		
				</ul>
				
			</nav>
		</header>
		<main>
			<section class="intro">
				<div class="container">
					<h2>สอนเขียนโปรแกรมโดยกูรูผู้มีความสามารถอันดับต้นๆของประเทศไทย</h2>
					<div class="col-md-6 col left">
						<p>เป็นเว็บไซต์เดียว ที่สอนเขียนโปรแกรมฉบับภาษาไทย </p>
						<p>เพื่อให้ผู้เรียนรู้คนไทยสามารถ <span>เข้าใจได้ง่าย ใช้ได้จริง</span></p> 
						<article style="border:2px solid white; width:408px; height:240px; padding-top:5px; float:none; margin:auto;">
							<video poster="static/image/inside_out2.png" width="400"controls="controls">
							  <source src="static/video/inside_out.mp4" type="video/mp4" >
							  Your browser does not support HTML5 video.
							</video>
						</article>
						<button type="button" class="btn-default form-control start course">ดูคอร์สทั้งหมด</button>
					</div>
					<div class="col-md-6 col">
						<article>
							<ul class="nav nav-tabs" role="tablist">
						    <li><a href="#login" role="tab" data-toggle="tab">Login</a></li>
						    <li class="active"><a href="#register" role="tab" data-toggle="tab">Register</a></li>
						  </ul>
						  <div class="tab-content">
						    <div role="tabpanel" class="tab-pane" id="login">
									<form action="home.html" method="post">
										<input type="text" class="form-control" placeholder="Username">
										<input type="text" class="form-control" placeholder="Password">
										<button type="submit" class="form-control btn-lg btn-default">login</button>
									</form>
									<div class="strike">
									   <span>Or register with</span>
									</div>
									<a href="home.html"><img src="static/image/button_facebook.png" width="50%"></a>
									<a href="home.html"><img src="static/image/button_google.png" width="50%"></a>
						    </div>
						    <div role="tabpanel" class="tab-pane active" id="register">
						    	<form action="home.html" method="post">
						    		<input type="text" class="form-control" placeholder="Email">
										<input type="text" class="form-control" placeholder="Username">
										<input type="text" class="form-control" placeholder="Password">
										<button type="submit" class="form-control btn-lg btn-default">register</button>
									</form>
									<div class="strike">
									   <span>Or register with</span>
									</div>
									<a href="home.html"><img src="static/image/button_facebook.png" width="50%"></a>
									<a href="home.html"><img src="static/image/button_google.png" width="50%"></a>

						    </div>
						  </div>
						</article>
					</div>
				</div>
			</section>

			<section class="howto">
				<div class="container">
					<p class="head">เว็บ LOGO ทำอะไรได้บ้าง ?</p>
					<article class="chart">
						<div class="line-top"></div>

						<div class="path first">
							<div class="circle"><span class="line"></span></div>
							<p style="">ลงทะเบียน</p>
						</div>	
						<div class="path">
							<div class="circle"><span class="line"></span></div>
							<p style="">ระบบคอร์สทั่วไป</p>
						</div>
						<div class="path">
							<div class="circle"><span class="line"></span></div>
							<p style="">ระบบ class online</p>
						</div>
						<div class="path">
							<div class="circle active"><span class="line"></span></div>
							<p style="">Dash borad</p>
						</div>
						<div class="path last">
							<div class="circle"><span class="line"></span></div>
							<p style="">ติดต่อกูรู</p>
						</div>
						<!-- <div class="circle last"><span class="line"></span></div> -->
					</article>
					<section class="row">
						<div class="col-md-6">
							<article class="howto-db">
								<div class="col-md-3">
									<img src="static/image/inside_out.png" class="img-circle">
								</div>
								<div class="col-md-9">
									<p class="title">Javascript</p> 
									<p class="free">free course</p>
									<p>สอนการใช้ javascript เบื้องต้น</p>
									<p class="teacher">สอนโดย กูรูจิิระ สุรจิรานนท์</p>
								</div>
							</article>

							<article class="howto-db active">
								<div class="col-md-3">
									<img src="static/image/inside_out.png" class="img-circle">
								</div>
								<div class="col-md-9">
									<p class="title">Javascript</p> 
									<p class="free">free course</p>
									<p>สอนการใช้ javascript เบื้องต้น</p>
									<p class="teacher">สอนโดย กูรูจิิระ สุรจิรานนท์</p>
								</div>
							</article>

							<article class="howto-db">
								<div class="col-md-3">
									<img src="static/image/inside_out.png" class="img-circle">
								</div>
								<div class="col-md-9">
									<p class="title">Javascript</p> 
									<p class="free">free course</p>
									<p>สอนการใช้ javascript เบื้องต้น</p>
									<p class="teacher">สอนโดย กูรูจิิระ สุรจิรานนท์</p>
								</div>
							</article>
						</div>
						<!-- <div class="col-md-2"><p style="font-size:100px;">&#10548;</p></div> -->
						<div class="col-md-6">
							<img src="static/image/pie.png" width="95%">
						</div>
					</section>
				</div>
			</section>

			<section class="goal">
				<!-- <article>
					<img src="static/image/image.png" width="50px;">
					<p>ทักษะการเขียนโปรเเกรมดีขึ้น</p>
				</article>
				<article>
					<img src="static/image/image.png" width="50px;">
					<p>เข้าใจภาษาที่เรียนรู้ลึกขึ้น</p>
				</article>
				<article>
					<img src="static/image/image.png" width="50px;">
					<p>ทักษะการเขียนโปรเเกรมดีขึ้น</p>
				</article>
				<article>
					<img src="static/image/image.png" width="50px;">
					<p>เข้าใจภาษาที่เรียนรู้ลึกขึ้น</p>
				</article> -->
			</section>
	
			<section class="course">
				<div class="container">
					<article>
						<img src="static/image/inside_out.png" class="img-circle">
						<div>
							<h3>HTML/CSS</h3>
							<p> เรียนรู้ด้าน html และ css ด้วยกูรูที่มีประสบการณ์อย่างพี่เพิทเจ้าของเพท	</p>
							<button type="button" class="btn-default form-control">Lean more</button>
						</div>
					</article>

					<article>
						<img src="static/image/inside_out.png" class="img-circle">
						<div>
							<h3>HTML/CSS</h3>
							<p> เรียนรู้ด้าน html และ css ด้วยกูรูที่มีประสบการณ์อย่างพี่เพิทเจ้าของเพท	</p>
							<button type="button" class="btn-default form-control">Lean more</button>
						</div>
					</article>

					<article>
						<img src="static/image/inside_out.png" class="img-circle">
						<div>
							<h3>HTML/CSS</h3>
							<p> เรียนรู้ด้าน html และ css ด้วยกูรูที่มีประสบการณ์อย่างพี่เพิทเจ้าของเพท	</p>
							<button type="button" class="btn-default form-control">Lean more</button>
						</div>
					</article>

					<article>
						<img src="static/image/inside_out.png" class="img-circle">
						<div>
							<h3>HTML/CSS</h3>
							<p> เรียนรู้ด้าน html และ css ด้วยกูรูที่มีประสบการณ์อย่างพี่เพิทเจ้าของเพท	</p>
							<button type="button" class="btn-default form-control">Lean more</button>
						</div>
					</article>

					<article>
						<img src="static/image/inside_out.png" class="img-circle">
						<div>
							<h3>HTML/CSS</h3>
							<p> เรียนรู้ด้าน html และ css ด้วยกูรูที่มีประสบการณ์อย่างพี่เพิทเจ้าของเพท	</p>
							<button type="button" class="btn-default form-control">Lean more</button>
						</div>
					</article>

					<article>
						<img src="static/image/inside_out.png" class="img-circle">
						<div>
							<h3>HTML/CSS</h3>
							<p> เรียนรู้ด้าน html และ css ด้วยกูรูที่มีประสบการณ์อย่างพี่เพิทเจ้าของเพท	</p>
							<button type="button" class="btn-default form-control">Lean more</button>
						</div>
					</article>

				</div>
			</section>

		</main>
		<footer>
			<div class="container">
				<article class="col-md-6 head">
					<h1> < ! > LOGO</h1>
					<p> เป็นเว็บไซต์เดียว ที่สอนเขียนโปรแกรมฉบับภาษาไทย </p>
					<p> เพื่อให้ผู้เรียนรู้คนไทยสามารถ <span> เข้าใจได้ง่าย ใช้ได้จริง </span></p>
					<div class="social">
						<img src="static/image/face.png">
						<img src="static/image/google.png">
						<img src="static/image/twitter.png">
						<img src="static/image/ig.png">
					</div>
				</article>
				<article class="col-md-6">
					<article class="col-md-6 sub-article">
						<p>เกี่ยวกับ</p>
						<p>Blog</p>
						<p>เงื่อนไขและนโยบาย</p>
						<p>สนับสนุน</p>
					</article>
					<article class="col-md-6 sub-article right">
						<p>ติดต่อทีงาน</p>
						<p>เข้าร่วมกับเรา</p>
						<p>เเจ้งปัญหาการใช้งาน</p>
						<p>คำถามที่พบบ่อย</p>
					</article>
					<div class="address">
						<p>Total Business Development Co.,Ltd.</p>
						<p>ถนนลาดกระบัง แขวงลาดกระบัง เขตลาดกระบัง กรุงเทพฯ 10310</p>
						<p>Tel : 02-934-3402 Mail : contact@itopplus.com</p>
					</div>
				</article>
			</div>
		</footer>
	</body>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>