extends layout
block title
  title learn python

block content
  .problem
    .number 1
    p Jonh have 5 pencils and matt have 10 pencils.
    p Jonh bought new pencil in this morning about 2 pencils and put it in him bag.
    p Matt put all of him pencil into Jonh's bag.
    p So how many pencil in Jonh's bag?
  .codding

