html
  head
    != renderStyles()
    != renderStyles('e_classroom')
    meta(charset='UTF-8')
    block title
  body.classroom
    header
      nav.container
        ul.logo
          li.img-logo
            a(href="/") < ! > LOGO
        ul.menu
          if !username
            a(href="/login")
              li.name-login Please Login
          else
            li.name-login(id="username") #{username}
          li.line
            a(href="/e-classroom/") Logout

    block content
