html
  head
    != renderStyles()
    meta(charset='UTF-8')
    block title
  body 
    header
      nav.container
        ul.logo
          li.img-logo
            a(href="/") < ! > LOGO
        ul.menu
          li
            a Course
          li
            a(href="/e-classroom/") E-Classroom
          li.line
            a Support
          if !username
            a(href="/login")
              li.line.please Please Login
          else
            li.line.please(id="username") #{username}

    block content

    footer
      .container
        article.col-md-6.head
          h1 < ! > LOGO
          p เป็นเว็บไซต์เดียว ที่สอนเขียนโปรแกรมฉบับภาษาไทย
          p เพื่อให้ผู้เรียนรู้คนไทยสามารถ
            span เข้าใจได้ง่าย ใช้ได้จริง
          .social
            img(src="/images/face.png")
            img(src="/images/google.png")
            img(src="/images/twitter.png")
            img(src="/images/ig.png")

        article.col-md-6
          article.col-md-6.sub-article
            p เกี่ยวกับ
            p Blog
            p เงื่อนไขและนโยบาย
            p สนับสนุน

          article.col-md-6.sub-article.right
            p ติดต่อทีงาน
            p เข้าร่วมกับเรา
            p เเจ้งปัญหาการใช้งาน
            p คำถามที่พบบ่อย

          article.col-md-12.address
            p Total Business Development Co.,Ltd.
            p ถนนลาดกระบัง แขวงลาดกระบัง เขตลาดกระบัง กรุงเทพฯ 10310
            p Tel : 02-934-3402 Mail : contact@itopplus.com
