html
  head
    != renderStyles()
    meta(charset='UTF-8')
    block title
  body 
    header
      nav.container
        ul.logo
          li.img-logo
            a < ! > LOGO
        ul.menu
          li
            a Course
          li
            a E-Classroom
          li.line
            a Support
          if username
            li.please Please Login
          else
            li#username #{username}

    block content
