html
  head
    != renderStyles()
    meta(charset='UTF-8')
    block title
  body 
    header
      nav.container
        ul.logo
          li.img-logo
            a < ! > Logo
        ul.menu
          li
            a Course
          li
            a E-Classroom
          li.line
            a Support
          li.please Please Login
    .container
      block content
