html
  head
    != renderStyles()
  body
    != renderJs()
    if message
      h1 #{message}
    form(action='/login' method='post')
      each user in users
        input(type="radio" name="username" value="#{user.username}") 
        | #{user.username}
        br
      input(type='hidden' value="password" name="password")
      input(type='submit')