html
  head
    != renderStyles()
  body
    != renderJs()
    if message
      h1 #{message}
    form(action='/login' method='post')
      input(type="radio" name="username" value="Book" checked) 
      | Book
      br
      input(type="radio" name="username" value="Mamieo") 
      | Mamieo
      br
      input(type="radio" name="username" value="AjJoob") 
      | AjJoob
      input(type="hidden" name="password" value="password")
      br

      input(type='submit')