html
  head
    != renderStyles()
  body
    != renderJs()
    if message
      h1 #{message}
    form(action='/login' method='post')
      a username 
      input(name='username')
      br
      a password 
      input(name='password')
      br
      input(type='submit')