extends layout
block title
	title CoderPlanet - E-Classroom Teacher

block content
	.container
		ul.nav.nav-tabs
			li
				a(href="#editor" data-toggle="tab") Editor
			li.active
				a(href="#quiz" data-toggle="tab") Quiz

		.tab-content
			.tab-pane(role="tabpanel" id="editor")
				h1 Editor
			.tab-pane.active(role="tabpanel" id="quiz")
				br
				button.btn-primary.btn.btn-large สร้างแบบทดสอบ
				form(action="")
					br
					h4 ชื่อแบบทดสอบ
					input.form-control(type="text")
					br
					input(type="checkbox") 
					span กำหนดเวลาทุกข้อในระยะเวลา

					select(name="all-minute" id="")
						option(value="1") 1
						option(value="2") 2
						option(value="3") 3
					span นาที

					select(name="all-sec"  id="")
						option(value="1") 1
						option(value="2") 2
						option(value="3") 3
					span วินาที
					
				article
					h4 คำถามที่ 1  
					input.form-control(type="text")
					br
					span กำหนดเวลาตอบคำถาม
					select(name="each-minute" id="")
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
						span นาที

					select(name="each-sec" id="")
						option(value="1") 1
						option(value="2") 2
						option(value="3") 3
					span วินาที
					br
					br
					p
						span A. 
						input(type="text")
					p
						span B. 
						input(type="text")
					p
						span C. 
						input(type="text")
					p
						span D. 
						input(type="text")
					br
	!= renderJs()
	!= renderStyles('style')
	!= renderStyles('e_classroom')
