html
  head
    != renderStyles()
  body
    != renderJs()
    != renderJs('terminal')
    != renderJs('socket')
    script(src="term.js")
    div(id='result' style='list-style-type:none;background:black;color:white;')
      
