// ตัวอักษรอ่อน #848484
// ตัวอักษรเข้ม  header #4A4A4A
// background topic #e2e2e2
// font color green #31B989
@font-face
  font-family supermarket
  src url('/fonts/supermarket.ttf')


body
	margin 0px
	padding 0px
	font-size 14px
	color #424242
	height 100%
	// font-family supermarket


header
	width 100%
	height 50px
	background-color #4A4A4A
	font-size 16px
	color white


header nav li
	display inline-block
	padding 1% 0 0 6%
	margin-top 6px
	text-align center


header nav ul.menu
	float right 
	width 80%
	text-align right
	margin-bottom 0
	margin-top 8px
	color white

header nav ul.logo
	float left 
	text-align left 
	width 20%
	padding-top 6px
	font-size 20px
	padding-left 0
	
header nav ul.menu li
	margin 0%
	padding 5px 3%

header nav ul.menu li:hover
	cursor pointer

header nav ul.menu li.line
	padding 0 6% 0 4%

header nav ul.menu li.please
	border-left 2px solid #BDBDBD
	padding 6px 0 6px 5%

header nav ul.menu li a:hover
	text-decoration none
header nav ul.logo li
	float left 
	padding 0px

header a:hover,
header a
	text-decoration none
	color white
	cursor pointer
	
.col-md-4 
	padding 10px 1.5%
	
footer
	font-family supermarket
	background-color black
	color white
	width 100%
	font-size 18px
	padding 20px 0 20px 0
	
footer article.head .social img
	margin-top 20px
	margin-right 10px
	width 40px
footer article.head h1
	margin-bottom 25px
footer article.head p
	margin-bottom 0px
footer article.head span
	font-size 22px
	margin-left 5px

footer article.col-md-6.head
	padding-left 0px

footer article.col-md-6.sub-article
	margin-top 30px	
	padding-left 0px
	
footer article.col-md-6.sub-article p
	margin-bottom 10px
	
footer article.address
	margin-top 30px
	padding-left 0px
	font-size 17px
		
footer article.address p
	margin-bottom 0px