// ตัวอักษรอ่อน #848484
// ตัวอักษรเข้ม  header #4A4A4A
// background topic #e2e2e2
// font color green #31B989

@font-face
    font-family supermarket
    src url('static/bootstrap/fonts/supermarket.ttf')

body
	margin 0px
	padding 0px
	font-size 14px
	color #424242
	height 100%
	overflow hidden

header
	width 100%
	height 50px
	background-color #4A4A4A
	font-size 15px
	color white


header nav li
	display inline-block
	padding 1% 0 0 6%
	margin-top 6px
	text-align center


header nav ul.menu
	float right 
	width 80%
	text-align right
	margin-bottom 0
	margin-top 8px
	color white

header nav ul.logo
	float left 
	text-align left 
	width 20%
	padding-top 6px
	font-size 20px
	padding-left 0
	
header nav ul.menu li
	margin 0%
	padding 5px 3%

header nav ul.menu li:hover
	cursor pointer

header nav ul.menu li.line
	padding 0 6% 0 4%

header nav ul.menu li.please
	border-left 2px solid #BDBDBD
	padding 6px 0 6px 5%

header nav ul.menu li a:hover
	text-decoration none
header nav ul.logo li
	float left 
	padding 0px

header a:hover,
header a
	text-decoration none
	color white
	cursor pointer
	
.container 
	width 960px
	position: relative;
	display block
	padding 0px
	margin auto

.content-classroom
	width 100%
	margin auto
	
	// background-color #9B9B9B

.window
	width 78%
	float right
	background-color #272722
	padding 0
	height 100%

.window.classroom-student
	width 100%

.window .header-window
	background-color #9B9B9B
	width 100%
	height 60px

.window.classroom-student .header-window
	background-color #f2f2f2

.window .header-window .name-active
	position relative
	margin-left 5%
	
.window .header-window img.circle
	width 51px
	height 51px
	border-radius 50%
	border 1px solid white
	position absolute
	top 4px
	z-index 2
	
.window .header-window .username
	display inline
	padding 8px 30px 10px 40px
	height 38px
	background-color white
	border-radius 5px
	position absolute
	top 10px
	left 20px

.window.classroom-student .header-window
	font-size 14px
	position relative
	background-color white

.window.classroom-student .header-window .class-name p a
	color #31B989
	text-decoration underline
	padding-left 5px

.window.classroom-student .header-window .class-name,
.window.classroom-student .name-teacher
	padding-top 20px
	margin-left 4%
	float left

.window.classroom-student .header-window .time
	float right
	margin-right 4%
	padding-top 20px
	color #848484
	
.window.classroom-student .header-window .username
	position relative
	background-color #f2f2f2

.window.classroom-student .name-teacher
	float left

.window.classroom-student img.circle
	top -3px
	
.window.classroom-student .name-active
	display block
	float left
	margin-left 95px
	position absolute
	top 8px
	
.window .code
	width 100%
	padding 20px
	height 100%

.window .code .terminal
	width 380px
	height 250px
	background-color black
	border 1px solid #848484
	position fixed
	right 3%

.window .code .window-teacher
	width 120px
	height 80px
	background-color black
	border 1px solid #848484
	position fixed
	left 45%
	bottom 60px

.sidebar
	width 22%
	height 100%
	float left
	background-color white
	overflow scroll
	
.sidebar .intro	
	padding 0 10px 10px 10px
	font-size 14px

.sidebar .topic
	font-weight 400
	width 100%
	height 40px
	padding 8px 0 6px 10px
	background-color #E2E2E2
	margin-bottom 20px

.sidebar .topic-sub p,	
.sidebar .topic p 
	margin-left 4%
	font-size 16px

.sidebar .topic-sub p
	margin-bottom 0;
	
.sidebar .intro p
	margin-left 8%

.sidebar .topic-sub
	padding 12px 12px 6px 10px
	border-top 2px solid #d8d8d8
	
.sidebar .num_student
	float right
	font-size 14px
	color #848484
	
.sidebar .intro  p a
	color #31B989
	text-decoration underline
	padding-left 5px
 
.sidebar .student
 	border none
 	height auto
 	background-color white
 	padding-bottom 100px
 
.sidebar .docker
 	width 100%
 	margin auto
 	padding 10px 5% 10px 5%
 	
.sidebar .docker:hover
	cursor pointer
	background-color #f2f2f2

.sidebar .docker img
	width 42% 
	float left

.sidebar .docker .name
	float left
	margin-left 5%
	padding-top 8%

.sidebar .docker p
	line-height 10px
 
.sidebar .docker p.type
	color #848484
	font-size 12px


.clear 
	clear both

.footer-side,	
.footer-window
	position fixed
	bottom 0
	width 100%
	height 50px
	background-color black

.footer-window input.btn
	width auto
	padding auto 1%
	margin 10px 0 0 2%
	background-color #31B989

.footer-window .chat .content,
.footer-window .chat .textbox
	width 380px
	height 50px
	background-color white
	position fixed
	right 3%
	bottom 0

.footer-window .chat .type .input-group-addon:hover
	cursor pointer

.footer-window .chat .type
	padding 10px

.footer-window .chat .long-content,
.footer-window .chat .content
	background-color white
	bottom 60px
	// padding 15px 10px 10px 10px
	height 250px
	border-radius 5px

.footer-window .chat .content .header
	height 35px
	background-color #f2f2f2
	padding-top 8px	
	text-align center

.footer-window .chat .long-content
	overflow scroll
	padding 18px 15px 0 15px
	height 200px

.footer-window .chat .content span.name 
	color #31B989

.footer-side
	padding-top 10px
	background-color #e2e2e2
	width 25%
	text-align center
	height 40px

.footer-side a.see
	color #4A4A4A
	margin auto
	font-size 14px
	text-decoration underline

.footer-side a.see:hover
	cursor pointer
