
@font-face
    font-family supermarket
    src url('static/bootstrap/fonts/supermarket.ttf')

body
	margin 0px
	padding 0px
	font-size 10px

header
	width 100%
	height 50px
	background-color #FAFAFA
	font-size 16px
	color #424242


header nav li
	display inline-block
	padding 1% 0 0 6%
	margin-top 6px
	text-align center


header nav ul.menu
	float right 
	width 80%
	text-align right

header nav ul.logo
	float left 
	text-align left 
	width 20%
	padding 6px 0 6px 0

header nav ul.menu .dropdown ul
	margin-top 12px
header nav ul.menu .dropdown li
	display block
	margin 0%
	padding 5px 0px

header nav ul.menu .dropdown li:hover
	background-color #f2f2f2
	cursor pointer

header nav ul.menu li.line
	padding 0 6% 0 6%
header nav ul.menu li.please
	border-left 2px solid #BDBDBD
	padding 6px 0 6px 5%

header nav ul.menu li a:hover
	text-decoration none
header nav ul.logo li
	float left 
	padding 0px
	
.container 
	width 100%
	margin auto
	display block
	padding-top 20px

.problem,.codding
	width 49.5%
	height auto
	display block
	float left
	padding 2%
	
.problem
	background-color #E6E6E6
	margin-right 0.5%
	position relative
	
.progress
	margin-top 20px

.progress-bar-info
	width 50%

.codding
	background-color #F5ECCE
	margin-left 0.5%
	float right
	background-color black

.widow
	height 400px
	color white
	
.result
	background-color red
	width 100%
	height 80px
	display block
	margin-top 15px
	color black
	text-align center
	
span 
	width 100px
	height 25px
	background-color #03C491
	padding 5px
	position absolute
	left 0
	color white

input.compile
	height 25px
	width 50%
	font-size 10px
	margin auto
	margin-top 10px
.text 
	margin-top 40px

textarea 
	background-color black

