
@font-face
    font-family supermarket
    src url('static/bootstrap/fonts/supermarket.ttf')

body
	margin 0px
	padding 0px
	font-size 14px
	color #424242

header
	width 100%
	height 50px
	background-color #FAFAFA
	font-size 16px


header nav li
	display inline-block
	padding 1% 0 0 6%
	margin-top 6px
	text-align center


header nav ul.menu
	float right 
	width 80%
	text-align right

header nav ul.logo
	float left 
	text-align left 
	width 20%
	padding 6px 0 6px 0

header nav ul.menu .dropdown ul
	margin-top 12px
header nav ul.menu .dropdown li
	display block
	margin 0%
	padding 5px 0px

header nav ul.menu .dropdown li:hover
	background-color #f2f2f2
	cursor pointer

header nav ul.menu li.line
	padding 0 6% 0 6%

header nav ul.menu li.please
	border-left 2px solid #BDBDBD
	padding 6px 0 6px 5%

header nav ul.menu li a:hover
	text-decoration none
header nav ul.logo li
	float left 
	padding 0px

a
	text-decoration: none
	color: black
	
.container 
	width 960px
	position: relative;
	display block
	padding 0px

.intro
	padding-top 25px
	font-size 16px
	margin-bottom 30px


.col-md-3.topic
	font-size 18px
	font-weight 400

.col-md-3.num_student
	text-align right
	font-size 14px
	color #848484
	
.col-md-6 p a
	color #31B989
	text-decoration underline
	padding-left 5px
	
.window
	width 75%
	height 500px
	float right
	background-color #2E2E2E

.sidebar
	width 24%
	height 500px
	float left
	background-color #F2F2F2
	

